
/* Custom CSS for datatable */
.dt-buttons {
  text-align: center;
}

.dataTable .dtr-details {
  width: 100% !important;
}

.dataTable td.dt-body-center {
  text-align: center;
}

.dataTables_filter label {
  width: 100%;
}

.dataTables_filter input {
  border: 1px solid #e4e6ef;
}

.dataTables_filter .input-group{
  flex-wrap: nowrap!important;
  margin-bottom: 10px;
}
.dataTables_empty{
  text-align: center;
}
.dataTables_filter input[type='search']{
  width: 100%!important;
}

/* end CSS for datatable */

.navbar-wrapper .navbar-brand {
    width: 190px;
}

.navbar-wrapper .navbar {
    border-bottom: 1px solid #dee2e6;
}

.required:after {
    content:" *";
    color: red;
  }
#cke_notifications_area_editor{
    display: none!important;
}

thead {
  background-color: #F2F2F2;
}
table thead tr th {
  background-color: #F2F2F2!important;
}
/* login page css  */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


.login {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: "Roboto", sans-serif;
  color: #8a8a8a;
}

.brand {
  color: #e3586a;
  margin-top: 1em;
}

.login__main {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}

.login__header {
  text-align: center;
}

.login__header > h1 {
  font-weight: 400;
  color: #333;
}

.login-form {
  display: grid;
  grid-gap: 0.8em;
  border-radius: 2px;
  margin-top: 2em;
}

.login-form__row {
  display: flex;
  flex-direction: row;
}

.login-form__input-group {
  display: flex;
  text-align: initial;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.4em 0.5em;
}

.login-form__input-group > label {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

input[type="checkbox"] {
  color: red;
}

.login-form__text-input {
  width: 100%;
  all: unset;
}

.login-form__row--far {
  justify-content: space-between;
  align-items: center;
}

.login-form__submit, .register-form__submit {
  outline: unset;
  border: unset;
  color: white;
  background: #71BF44;
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-radius: 2px;
  padding: 1em 0;
  margin: 1em 0;
}

.login-form__submit:hover, .register-form__submit:hover {
    color: #fff;
    background: #198754;
  }

a {
  text-decoration: none;
  color: unset;
}
/* end of login page  */

/* dashboard  */
.accordion-button:not(.collapsed) {
    background-color: #f2f2f2;
    color: black;
}
.infoBox {
  display: block;
  position: relative;
  padding: 12px 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #ccc;
  text-decoration: none;
  transition: all .3s ease;
}
.infoBox:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.infoBox .stat {
  margin-top: 20px;
  font-size: 40px;
  line-height: 1;
}
.infoBox .title {
  font-weight: 700;
  color: #888;
  text-transform: uppercase;
  font-size: 12px;
}
.infoBox .highlight {
  margin-top: 4px;
  height: 2px;
  border-radius: 2px;
}
.infoBox i {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 55px;
  line-height: 1;
  color: #ccc;
  transition: all .3s ease;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.bg-color-blue {
  background-color: #5bc0de;
}
.bg-color-green {
  background-color: #5cb85c;
}
.bg-color-red {
  background-color: #d9534f;
}
.bg-color-gold {
  background-color: #f0ad4e;
}
/* end of dashboard */